body{
	margin: 0;
	padding: 0;
}

header{
	margin: 25 auto;
	background-color: #22AA55;
}

.wrapper{
	/*border: 1px solid red;*/
	overflow: hidden;
}

.logo{
	width: 15%;
	/*border: 1px solid red;*/
	float: left;
	margin: 0;
}

.menu{
	width: 75%;
	/*border: 1px solid red;*/
	float: left;
	margin: 0;
}

.menu ul{
	float: right;
}

.menu ul li{
	list-style: none;
	float: left;

}

.menu ul li a{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
	transition: .5s;

}

.menu ul li a:hover {
	color: pink;
	border-radius: 5px;
	background-color: blue;
}

.pic{
	width: 50%;
	/*border: 1px solid red;*/
	margin-top: 20px;
	margin-left: 550px;
	padding: 40px;
	

}
